* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* vvvv-----------------  DESKTOP NAVBAR SILFEN -----------------------vvvv */
.desktopnav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  z-index: 2;
}
.desktopnav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  align-self: center;
}
.desktopnav svg {
  display: none;
}
ul li {
  list-style: none;
}
li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
li a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

li a:hover {
  border-bottom: 1px black solid;
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#basket,
#heart,
#search,
#login {
  margin-right: 1.8vw;
}
.logo {
  justify-self: center;
}
.logo img {
  height: 24px;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;
}
#basket {
  height: 18px;
  width: 18px;
  margin-right: 3vw;
}

#search {
  height: 18px;
  width: 18px;
}
#login {
  height: 18px;
  width: 18px;
}

#heart {
  height: 18px;
  width: 18px;
}
.shipping {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  margin-right: 3vw;
}
/* vvvv-----------------  MOBILE NAVBAR SILFEN -----------------------vvvv */

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: block;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
}
.side-nav ul li {
  border-bottom: 1px rgba(44, 37, 41, 0.14) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
  opacity: 0.9;
  white-space: nowrap;
}
.side-nav a:hover {
  font-weight: bold;
}
.navbar-nav a:hover {
  font-weight: bold;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
.lesserthansign {
  padding-right: 1vw;
}

/*------------------TEXT CARUSEL----------------------------------- */
.bluebar {
  height: 34px;
  background-color: #85b4d7;
  padding-left: 2vw;
  position: relative;
  z-index: 2;
}

.textcarusel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.rotatingText-adjective1 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective2 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective3 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective4 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
.rot1 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

.rot2 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 4.25s;
}

.rot3 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 8s;
}
.rot4 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 11.75s;
}
/* .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
} */
/* ----------------MEDIA QUERIES----------------------------- */

@media (max-width: 900px) {
  .desktopnav ul {
    display: none;
  }
}
/* .desktopnav svg {
  display: ;
}
 */
