* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
/* vvvv-----------------  DESKTOP NAVBAR SILFEN -----------------------vvvv */
.desktopnav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  z-index: 2;
}
.desktopnav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  align-self: center;
}

ul li {
  list-style: none;
}
li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
li a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.desktopnav li:hover {
  scale: 1.1;
}
.desktopnav li:hover {
  scale: 1.1;
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  grid-column: 3;
}
#basket,
#heart,
#search,
#login {
  margin-right: 1.8vw;
}
.logo {
  justify-self: center;
  grid-column: 2;
}
.logo img {
  height: 24px;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;
}
#basket {
  height: 18px;
  width: 18px;
  margin-right: 3vw;
}

#search {
  height: 18px;
  width: 18px;
}
#login {
  height: 18px;
  width: 18px;
}

#heart {
  height: 18px;
  width: 18px;
}
.shipping {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  margin-right: 3vw;
}
/* vvvv-----------------  MOBILE NAVBAR SILFEN -----------------------vvvv */

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: block;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  display: none;
}
.side-nav ul li {
  border-bottom: 1px rgba(44, 37, 41, 0.14) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
  opacity: 0.9;
  white-space: nowrap;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
.lesserthansign {
  padding-right: 5vw;
}
.lesserthansign2 {
  padding-right: 5vw;
}
.lesserthansign3 {
  padding-right: 5vw;
}
.lesserthansign4 {
  padding-right: 5vw;
}
.lesserthansign:hover {
  cursor: pointer;
}

#nav-svg {
  display: none;
}
.width {
  width: 100%;
}
.heighLi {
  padding-bottom: 30vw;
  transition: 0.5s;
}

li a:hover {
  scale: 1.1;
}
/*------------------TEXT CARUSEL----------------------------------- */
.bluebar {
  height: 34px;
  background-color: #85b4d7;
  padding-left: 2vw;
  position: relative;
  z-index: 2;
}

.textcarusel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.rotatingText-adjective1 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective2 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective3 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective4 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
.rot1 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

.rot2 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 4.25s;
}

.rot3 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 8s;
}
.rot4 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 11.75s;
}
/* ------------------grid1--------------------------- */
.grid1 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.firstimg {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
}
.firstimg img {
  width: 100%;
  object-fit: contain;
}
.drop7text {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2/-1;
}
.drop7text img {
  width: 66%;
  object-fit: contain;
  margin-left: 6vw;
  margin-top: 4.5vw;
}
/* -----------------introduction------------------------------ */
.introduction {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10vw 18vw;
}

.newyear {
  width: 33vw;
  grid-column: 2;
  margin-top: 3vw;
  margin-bottom: 3vw;
  justify-self: center;
}
.newyear img {
  width: 100%;
}
.introduction p {
  grid-column: 1/-1;
  padding: 0 24vw 0 24vw;
  font-family: roboto, Verdana sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
}
/* -----------------productlist------------------------------ */
.productlistgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  margin-top: 60px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin: 60px 5vw 0 5vw;
  row-gap: 3em;
  column-gap: 1.5em;
}
.productlist {
  width: 100%;
  font-family: gothamlight, Verdana sans-serif;
  padding-bottom: 2vw;
}
.productlist img {
  width: 100%;
  background-color: #f2f2f2;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.251);
  transition: transform 0.1s;
}
.productlist img:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.251);
}

.itemimg {
  position: relative;
}
.iteminfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  word-wrap: break-word;
  flex-direction: column;
}
.itemname {
  font-family: roboto, Verdana sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.itemname,
.itemprice {
  padding-bottom: 0.1vw;
}
.itemprice,
.colors {
  font-size: 1rem;
}
.imgbkcolor {
  width: 100%;
}
.new {
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: roboto, Verdana sans-serif;
}

/* .hovermenu {
  background-color: yellow;
  height: 5.4vw;
  z-index: 2;
  position: absolute;
  width: 21vw;
} */
/* ----------------Footer--------------------------------- */
footer {
  height: 500px;
  background-color: #8fb3d4;
}
/* ----------------MEDIA QUERIES----------------------------- */

@media (max-width: 900px) {
  .desktopnav ul {
    display: none;
  }
  #nav-svg {
    display: flex;
  }

  #nav-svg svg {
    width: 44px;
    height: 44px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    display: block;
  }
}
